* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
}

// main {
//     padding-left: 2em;
//     padding-right: 2em;

//     @media (min-width: 768px) {
//         main {
//             padding-left: 6em;
//             padding-right: 6em;
//         }
//     }
// }