.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $header_background;

    &__logo {
        width: 30vw;
        margin: 1em 0;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $header_background;
        padding-bottom: .5em;

        &-item {
            width: 25%;
            text-align: center;
            margin-bottom: 1em;
            text-decoration: none;
            color: $greytext;

            &:hover {
                color: black;
            }

            &_current {
                color: black;
            }
        }

        &__nav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-bottom: 1em;
            width: 80vw;

            &-item {
                width: 25%;
                text-align: center;
                text-decoration: none;
                color: $greytext;

                &:hover {
                    color: black;
                }

                &_current {
                    color: black;
                }
            }
        }
    }

    @media (min-width:768px) {
        .header {
            padding: 0 6em;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__logo {
                width: 10vw;
            }

            &__nav {
                width: 30vw;
                padding: 0;
            }
        }
    }
}