$header_background: #f7f9f9;
$footer_background: #33393f;
$greytext: #ced4da;
$bluelink: #0099ff;
$h1size: 2.5em;
$h2size: 2em;
$h3size: 1.5em;
$textsize: 1em;
$hashsize: 1.25em;
$primary_spacing: 0.0675em;
